.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.active-filter {
  background-color: forestgreen;
  outline: none;
}

.is-done {
  opacity: 0.7;
}

.error{
  border: 2px solid red;
}

.error-message {
  color: red;
  padding-top: 4px;
  margin-left: 30px;
}
